/.bundle/
/Gemfile.lock
/test/dummy/log/
/test/dummy/tmp/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
*.gem
/spec/reports/
/tmp/
/test/dummy/db/schema.rb
ios/**/xcuserdata/
ios/**/*.xcworkspace/
ios/build/
ios/DerivedData/
